site_name: pypixelcolor
site_url: https://lucagoc.github.io/pypixelcolor/
repo_url: https://github.com/lucagoc/pypixelcolor
repo_name: lucagoc/pypixelcolor

theme:
  name: material
  features:
    - navigation.tabs
    - navigation.sections
    - content.code.copy
    - content.action.edit
  palette:
    - scheme: default
      primary: indigo
      accent: indigo
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - scheme: slate
      primary: indigo
      accent: indigo
      toggle:
        icon: material/brightness-4
        name: Switch to light mode

extra:
  version:
    provider: mike

plugins:
  - search
  - mkdocstrings:
      handlers:
        python:
          paths: [src]
